/* Box Model Hack */
* {
	box-sizing: border-box;
	text-align: center;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
	background: url('/img/pexels-dan-cristian-pădureț-5102221.jpeg') fixed center;
}
p{
	font-size: 20px;
}

/******************************************
/* LAYOUT
/*******************************************/

.options{
	/* border: .4rem solid black; */
	border-radius: .5rem;
	margin: 1rem;
	padding: 1rem .5rem;
	transition: all .07s ease;
	width: 10rem;
}

.options:hover {
	transform: scale(1.1);
	box-shadow: 0 0 1rem #000000;
}
img{
	max-width: 30px;
	height:auto;
}

footer {
	position: absolute;
	bottom:30px;
	right:30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/