/* Box Model Hack */
* {
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
	background: rgb(9, 75, 113);
}

h1,h2,p, span{
	color: rgb(241, 220, 170);
}

p{
	font-size: 20px;
}



/******************************************
/* LAYOUT
/*******************************************/

h1, h2 {
	text-align: center;
}


/* 
.playAgain, .rounds {
	display: none;
} */

.container {
	border: 5px dotted rgb(241, 220, 170);
	padding: 2rem;
	margin: 3rem 10em;
	display: flex;
}

.cvp{
	display: flex;
	justify-content: space-evenly;
}

/******************************************
/* for js
/*******************************************/

.disabled-button .choiceIcon {
	cursor: default;
	transform: none;
	transition: none;
}

.opacity {
	opacity:0.5;
}
.fightButton, .compButton{
	background-color: transparent;
	border:none;
}
.fightButton:focus {
	outline: none;
}

.choiceIcon{
	color:rgb(241,220, 170);
} 

.choiceIcon:hover{
	cursor:pointer;
	transform: scale(1.1);
	transition:all .3s;
}

.margin{
	margin:0;
}

.modal {
	z-index: 1;
	display: none;
	background: rgb(21, 148, 221);
	padding: 121px;
	position: absolute;
	top: 149px;
	left: 400px;
}

.overlay{
	opacity:0.3;
}